{% extends 'main/layout.html' %}

{% block content %}
<center>
  <h2>Цены на автомобили</h2>
  <h6>Здесь представлены цены доступных для покупки моделей</h6>
</center>

<center>
  <br><br>
  <table border="15">
      <tr>
        <td>
          Название автомобиля
        </td>
        <td>
          Цена $
        </td>
      </tr>
      <tr>
        <td>
          Ferrari 599
        </td>
        <td>
          512 000
        </td>
      </tr>
      <tr>
        <td>
          Aston Martin
        </td>
        <td>
          765 000
        </td>
      </tr>
      <tr>
        <td>
          Porsche 918 Spyder
        </td>
        <td>
          918 000
        </td>
      </tr>
  </table>
</center>
{% endblock %}


